/*Z-index order/registry:
100 - reserved for always visible elements
  - Header

*/

.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 5vh;
  width: 100%;
  z-index: 100;
  background-color: yellow;

}

.highlightBox {
  display: flex;
  height: 100%;
  align-items: center;
}

#highAbout {
  /*TODO Don't forget to change color on arrow on top*/
}

/*TODO experiment with size, and possibly font if you have the time*/
/*TODO center vertically*/
.headerLinks {
  margin-left: auto;
  margin-right: 2%;
  font-family: "Courier New";

}