/*Z-index order/registry:
100 - reserved for always visible elements
  - Header

*/

.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 5vh;
  width: 100%;
  z-index: 100;

}

.headerLinks {
  display: flex;
  font-family: "Courier New";
  width: 100%;
  justify-content: flex-end;
}

.highlightBox {
  display: flex;
  align-items: stretch;

}

.highlightBox>a {
  display: flex;
  padding-left: 1vw;
  padding-right: 1vw;
  align-items: center;
  justify-content: center;
  min-width: 15vw;
  text-decoration: none;
  transition: 0.4s;
  color: black;
}

/*TODO assign light theme to these colors*/
#highAbout:hover {
  /*TODO Don't forget to change color on arrow on top*/
  background-color: #fdc331;
  color: white;
}

#highProjects:hover {
  /*TODO Don't forget to change color on arrow on top*/
  background-color: #fe5722;
  color: white;
}

#highFacts:hover {
  /*TODO Don't forget to change color on arrow on top*/
  background-color: #ae203b;
  color: white;
}

/*TODO experiment with size, and possibly font if you have the time*/
/*TODO center vertically*/